$black: #000;
$dark: #333333;
$gray: #efefef;
$white: #ffffff;
$green: #66c05d;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: $black;
  background-color: $gray;
  min-height: 100vh;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header__inner-top {
  height: 50px;
}
.top__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top__menu-list-item + .top__menu-list-item {
  margin-left: 0;
}

.top__menu-list {
  list-style: none;
  display: flex;
  //justify-content: flex-end;
  margin: 1rem auto;
  align-items: center;
  flex-wrap: wrap;
  /*@media (max-width: 850px) {
    display: block;
    position: absolute;
    margin-right: 0;
    left: 0;
    right: 0;
    //background: linear-gradient(180deg, $light-gray 0%, $light-blue 100%);
    text-align: center;
    transition: all 0.5s;
    padding: 30px 0;
    transform: translateY(-300%);

    &--active {
      transform: translateY(0%);
      transition: all 0.5s;
    }
  }*/
}

.top__menu-link {
  padding: 0 15px;
  line-height: 1rem;
  color: $dark;
  font-size: 14px;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 700;
  &:hover {
    text-decoration: underline;
    color: crimson;
  }
  /*
  @media (max-width: 850px) {
    display: block;
    padding: 15px 0;
  }*/
}
/*
.menu__btn {
  display: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 1.2rem 0; ///////////////// touch area size
  background: transparent;
  background-color: rgba(0, 0, 0, 0);
  @media (max-width: 850px) {
    display: block;
    background: transparent;
    &:active,
    &:hover {
      background: transparent;
      background-color: transparent;
      outline: none;
    }
  }

  & > div {
    width: 2.5rem;
    height: 0.5rem;
    // border-radius: var(--borderRadius);
    background: $black;

    &::before,
    &::after {
      transition: font-size 0s;
      content: '';
      display: block;
      position: absolute;
      width: 2.5rem;
      height: 0.5rem;

      background: $black;
    }
    &::before {
      margin-top: -1rem;
    }
    &::after {
      margin-top: 1rem;
    }
  }
}

.burger1 {
  transition: all 0.7s, font-size 0s;
  transition-timing-function: cubic-bezier(0.68, -0.35, 0.265, 1.35);
  & > div {
    transition: all 0.1s 0.3s, font-size 0s;
    &::before,
    &::after {
      transition: all 0.3s 0.2s, font-size 0s;
    }
  }
  &.toggled {
    transform: rotate(180deg);
    > div::before {
      transform: rotate(45deg) translate(0.4rem, 1rem);
    }
    > div {
      background: transparent;
    }
    > div::after {
      transform: rotate(-45deg) translate(0.4rem, -1rem);
    }
  }
}
*/
.header__inner-main {
  background-color: $white;
  border-bottom: $gray solid 1px;
  @media (max-width: 1100px) {
    padding: 0 100px;
  }
}

.header__inner-content {
  height: 120px;
  max-width: 1110px;
  margin: 0 auto;

  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 850px) {
    flex-direction: column;
    height: auto;
    margin-bottom: 10px;
  }
}

.logo__container {
  display: flex;

  align-items: center;
}

.logo-img {
  width: 80px;
}

.logo-text {
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  margin-left: 20px;
  color: $green;
}

.call__container {
  display: flex;
  align-items: center;
}

.call__number {
  line-height: 18.75px;
  margin-right: 40px;
}

.call__button {
  border: 2px solid $green;
  border-radius: 40px;
  padding: 12px 27px;
}

.call__button-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: $black;
}

.main__menu {
  display: flex;
  background: $white;
  justify-content: space-between;
  align-items: center;
  //padding: 0 15px;
}

.main__menu-list-item + .main__menu-list-item {
  margin-left: 0;
}

.main__menu-list {
  list-style: none;
  display: flex;
  //justify-content: flex-end;
  margin: 1rem auto;
  align-items: center;
  @media (max-width: 850px) {
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 20px;
  }
}
.main__menu-link {
  padding: 0 15px;
  line-height: 18.75px;
  color: $black;

  transition: 0.3s;
  text-decoration: none;
  @media (max-width: 850px) {
    line-height: 30px;
    background-color: $green;
  }

  &:hover {
    text-decoration: underline;
    color: crimson;
  }
}

.sale {
  background-image: url('../src/svg/top-bg.svg');
  background-size: cover;

  max-width: 1920px;
}

.sale__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 192px 405px 193px;
  @media (max-width: 1100px) {
    padding: 0 100px 100px;
  }
  &-title {
    display: block;
    color: $white;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 50px;
  }

  &-text {
    display: block;
    color: $white;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 50px;
  }

  &-button {
    color: $white;
    display: block;
    background-color: $green;
    border: 2px solid $white;
    border-radius: 40px;
    font-size: 14px;
    padding: 12px 27px;
    width: 170px;
    font-weight: 400;
  }
}

.special-offers {
  padding: 0 calc(50% - 555px);
  margin-top: 90px;
  @media (max-width: 1100px) {
    margin-top: 30px;
  }

  .special-offers__header {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 38px;
    @media (max-width: 1100px) {
      text-align: center;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    @media (max-width: 850px) {
      flex-wrap: wrap;
      margin: 20px 20px;
      justify-content: space-around;
    }
  }

  &__item-card {
    height: 313px;
    width: 255px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    @media (max-width: 1100px) {
      margin: 0 20px;
    }
    @media (max-width: 850px) {
      margin: 20px 10px;
    }

    .item-card-img {
      width: 125px;
      height: 166px;
    }
  }

  &__description {
    color: $dark;
    font-size: 14px;
    line-height: 20px;
    margin: 0 30px;
    text-align: center;
  }

  &__price {
    font-size: 21px;
    font-weight: 500;
  }

  &__button {
    background-color: $green;
    color: $white;
    border: none;
    border-radius: 30px;
    padding: 10px 40px 9px;
  }
}

.advert {
  display: flex;
  justify-content: space-between;
  padding: 0 calc(50% - 555px);
  margin: 100px 0;
  @media (max-width: 1100px) {
    margin: 10px 20px;
    gap: 10px;
  }
  @media (max-width: 850px) {
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
    gap: 10px;
    padding: 0;
  }

  &__card {
    width: 460px;
    padding: 35px 40px;
    background-color: $green;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1100px) {
      max-width: 350px;
    }
    @media (max-width: 900px) {
      width: 700px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 260px;

      &__title {
        display: block;
        color: $white;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 25px;
      }

      &__text {
        display: block;
        color: $white;
        line-height: 20px;
        font-size: 14px;
        margin-bottom: 25px;
      }

      .input {
        display: block;
        padding: 10px 25px 9px;
        border: none;
        border-radius: 30px;
        width: 175px;
      }

      .map__btn {
        color: $white;
        display: block;
        border-radius: 30px;
        background: $green;
        font-size: 14px;
        width: 170px;
        padding: 10px 27px 9px;
        border: 2px solid $white;
      }
    }

    &__image {
      display: flex;
      text-align: center;
      align-items: center;
      width: 140px;
      height: 107px;
      margin: auto 0;
      img {
        @media (max-width: 900px) {
          width: 90px;
        }
      }
    }
  }
}

.contacts {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 38px calc(50% - 555px);
  align-items: center;
  @media (max-width: 1100px) {
    flex-direction: column;
    gap: 15px;
    padding: 10px 0;
  }

  &__links {
    display: flex;

    .footer__icon {
      display: flex;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      border: 2px solid $green;
      background: $white;
      & + .footer__icon {
        margin-left: 20px;
      }
    }
  }
}

.policy {
  margin: 20px 0;
  padding: 0 calc(50% - 555px);
  display: flex;
  justify-content: space-between;
  @media (max-width: 1100px) {
    justify-content: center;
    gap: 15px;
  }
  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }
  .policy-text {
    color: #828282;
    font-size: 12px;
    text-align: center;

    br {
      display: none;
      @media (max-width: 900px) {
        display: inline;
      }
    }
  }
}
